<div class="panel-heading">
    <h1 class="panel-title">
        <%= @movie.title %> (<%= @movie.year %>)
    </h1>
</div>
<div class="panel-body">
    <p>Rating: <%= @movie.rating %>/10 Stars</p>
    <p>Description: <%= @movie.description %></p>
</div>